{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="{% static 'css/base.css'%}" />
	<link rel="stylesheet" href="{% static 'css/gaze.css'%}" />
</head>

<body>
	<section class="alertpage background">
		<h2>모의면접을 시작하기 전에<br>아래 유의사항을 확인해 주세요!</h2>
		<div class="alert_container">
			<div class="alert_box"></div>
			<div class="alert_box"></div>
			<div class="alert_box"></div>
		</div>
		<button class="btn" onclick="closeAlert()">확인했어요</button>
		<!-- <div class="ocean">
			<div class="wave"></div>
			<div class="wave"></div>
		</div> -->
	</section>
	<section class="loadpage background">
		<div class="loader">
			<div class="circle"></div>
		</div>
	</section>
	<section class="interviewpage background">
		{% for res in results.all %}
		<div class="question" data-id="{{res.id}}" style="display:none">
			<span>{{forloop.counter}} / {{result_num}} 번째 질문</span><br>
			<span>{{res.question_id}}</span>
		</div>
		{% endfor %}
		<div class="ques_alert_container">
			<div><span id="ques_alert" style="color:red;"></span></div>
			<div>x좌표 : <span id="ques_x"></span></div>
			<div>y좌표 : <span id="ques_y"></span></div>
		</div>

		<button class="btn" onclick="nextQuestion()">다음 질문</button>
		
	</section>
	<script type="text/JavaScript" src="http://code.jquery.com/jquery-1.7.min.js"></script>
	<script src="{% static 'js/webgazer.js' %}" defer></script>
	<script src="{% static 'js/gaze.js' %}" type="text/javascript" defer></script>
	<script>
		let num = 0;
		const questions = document.querySelectorAll('div.question');
		const question_num = Number("{{result_num}}");

		function locate() {
			const url = "{% url 'result' itv_id %}";
			parent.document.location.href = url;
		}

		function nextQuestion() {	
			stopRecording();
			document.querySelector('.loadpage').style.display = "block";
			window.setTimeout(function () {
				downloadRecord(questions[num].dataset.id);
				console.log(questions[num].dataset.id);
				if (num + 1 < question_num){	
					window.setTimeout(function () {
						document.querySelector('.loadpage').style.display = "none";
						startRecording();
						num += 1;
						questions.forEach((question)=>{question.style.display="none";})
						questions[num].style.display="block";
					}, 2000);
				}
				else{
					window.setTimeout(function () {
						locate();
					}, 5000);
				}
			}, 1000);
			// if (parent.document.exitFullscreen)
			// 	parent.document.exitFullscreen();
			// else if (parent.document.webkitExitFullscreen)
			// 	parent.document.webkitExitFullscreen();
			// else if (parent.document.mozCancelFullScreen)
			// 	parent.document.mozCancelFullScreen();
			// else if (parent.document.msExitFullscreen)
			// 	parent.document.msExitFullscreen();
		}

		function closeAlert() {
			const loader = document.querySelector('.loadpage');
			document.querySelector('.alertpage').style.display = "none";
			startGazing();
			window.setTimeout(function () {
				loader.style.display = "none";
				startRecording();
				questions[num].style.display="block";
			}, 5000);
			return;
		}
	</script>
</body>

</html>