.background {
	position: absolute;
	background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #B7E8EB 100%);
	width: 100vw;
	height: 100vh;
}

section.alertpage {
	overflow: hidden;
	color:white;
	font-size: 1.5rem;
	z-index: 100;
}

section.loadpage {
	z-index: 50;
}

section.interviewpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}




/*alert page*/
section.alertpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.alertpage>h2 {
	font-size: 1.8rem;
	text-align: center;
	color: rgb(65, 65, 65);
}

.alert_container {
	display: flex;
	z-index: 99;
	width: 90%;
	max-width: 1100px;
	justify-content: space-between;
}
.alert_box {
	padding:1rem;
	background-color: rgba(1, 1, 1, 0.7);
	height: 60vh;
	width: 32%;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.alert_box > img{
	align-self: center;
}
.alert_box:nth-child(1) > img{
	width: 90%;
}
.alert_box:nth-child(2) > img{
	width: 70%;
}
.alert_box:nth-child(3) > img{
	width: 50%;
}
.alert_box > .phrase{
	min-height: 30%;
	padding: 1rem;
	text-align: center;
}
.alertpage>.btn {
	z-index: 99;
	font-size: 1.3em;
}

/*interviewpage*/
.interviewpage .btn {
	position: fixed;
	bottom: 3rem;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 1.8rem;
}

.rec{
	position: fixed;
	right:3rem;
	top:3rem;
	font-size: 2.8rem;
	color:white;
	font-weight: 700;
}
.rec::before{
	content: "";
	position:absolute;
	background-color: red;
	border-radius: 50%;
	width:20px;
	height:20px;
	right:100%;
	top:40%;
	transform: translate(-50%,-50%);
	animation: twinkle 1.5s steps(1) infinite;
}
@keyframes twinkle {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.ques_alert_container {
	position: fixed;
	padding: 2rem;
	bottom: 0;
	left: 0;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	font-size: 2.8rem;
}